<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBContextKDS" connectionString="metadata=res://*/Model.ModelKDS.csdl|res://*/Model.ModelKDS.ssdl|res://*/Model.ModelKDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KDS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="messages.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="messages" traceOutputOptions="LogicalOperationStack, Timestamp">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
  </system.diagnostics>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="getData" />
        <binding name="setData" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/KDSService/" binding="netTcpBinding"
        bindingConfiguration="getData" contract="ServiceReference1.IKDSService"
        name="getData">
        <identity>
          <userPrincipalName value="prg01\Leschenko.V" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
        binding="netTcpBinding" bindingConfiguration="setData" contract="ServiceReference1.IKDSCommandService"
        name="setData">
        <identity>
          <userPrincipalName value="prg01\Leschenko.V" />
        </identity>
      </endpoint>
    </client>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true"
        logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"
        maxMessagesToLog="5000" />
    </diagnostics>
  </system.serviceModel>

  <appSettings>
    <!-- отделы, отображаемые на данном КДС (UID-ы через запятую) -->
    <!-- <add key="depUIDs" value=""/> -->
    <add key="depUIDs" value="6AFE9FC4-0EC0-462F-86E5-795F9E49D157,87184206-D669-4CB6-86D2-CA35B868EC36,032d6628-2351-11dd-96e2-001e8c3d2073,0f0a173a-0446-11e0-a237-20cf308e5b25,9fce7067-093e-11e0-b105-20cf30b3b242,f2f83404-267b-11dd-b5f8-000d884ee3f7,e6e60e99-fb87-11e3-8273-6036ddd98f18,cc272578-a529-11e4-80d0-00155d800f6c,e6e60e98-fb87-11e3-8273-6036ddd98f18,e6e60e9a-fb87-11e3-8273-6036ddd98f18" />

    <add key="KDSMode" value="Cook" />
    <!-- автоматический возврат группировки заказов из "По номерам" в "По времени", сек -->
    <add key="AutoReturnOrdersGroupByTime" value="10"/>
    
    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true" />
    <add key="IsLogUserAction" value="true" />
    
    <!-- настройка геометрии -->
    <add key="OrdersColumnsCount" value="4" />
    <add key="AppFontScale" value="1.0" />
    
  </appSettings>

</configuration>