<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="DBContextKDS" connectionString="metadata=res://*/Model.ModelKDS.csdl|res://*/Model.ModelKDS.ssdl|res://*/Model.ModelKDS.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=KDS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="getData" />
        <binding name="setData" />
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/KDSService/" binding="netTcpBinding"
        bindingConfiguration="getData" contract="ServiceReference1.IKDSService"
        name="getData">
        <identity>
          <userPrincipalName value="prg01\Leschenko.V" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
        binding="netTcpBinding" bindingConfiguration="setData" contract="ServiceReference1.IKDSCommandService"
        name="setData">
        <identity>
          <userPrincipalName value="prg01\Leschenko.V" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>

  <appSettings>
    <!-- отделы, отображаемые на данном КДС (UID-ы через запятую) -->
    <!-- <add key="depUIDs" value=""/> -->
    <add key="depUIDs" value="6AFE9FC4-0EC0-462F-86E5-795F9E49D157"/>
    <add key="KDSMode" value="Cook" />
    <!-- автоматический возврат группировки заказов из "По номерам" в "По времени", сек -->
    <add key="AutoReturnOrdersGroupByTime" value="30"/>

    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true" />
    <add key="IsLogUserAction" value="true" />
    
    <!-- настройка геометрии -->
    <add key="OrdersColumnsCount" value="4" />
    <add key="AppFontScale" value="1.0" />
    
  </appSettings>

</configuration>