<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  
  <!--<system.diagnostics>
    <sources>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="messages.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="messages" traceOutputOptions="LogicalOperationStack, Timestamp">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Подробно,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add initializeData="tracelog.svclog" type="System.Diagnostics.XmlWriterTraceListener"
            name="traceListener" traceOutputOptions="LogicalOperationStack, DateTime, Timestamp">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <trace autoflush="true" />
  </system.diagnostics>-->

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="setData">
          <security mode="None" />
        </binding>
        <binding name="bind1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8733/KDSService" binding="netTcpBinding"
        bindingConfiguration="bind1" contract="ServiceReference1.IKDSService"
        name="getData" />
      <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
        binding="netTcpBinding" bindingConfiguration="bind1" contract="ServiceReference1.IKDSCommandService"
        name="setData" />
    </client>

    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="false" maxMessagesToLog="5000" maxSizeOfMessageToLog="65535000"/>
    </diagnostics>
  </system.serviceModel>

  <appSettings>
    <!-- отделы, отображаемые на данном КДС (ID-ы через запятую) -->
    <!--<add key="depUIDs" value="1,2,15,16,17,18,19,20,21,22"/>-->
     <add key="depUIDs" value="1,2,3"/> 

    <add key="KDSMode" value="Chef"/>
    <!-- автоматический возврат группировки заказов из "По номерам" в "По времени", сек -->
    <add key="AutoReturnOrdersGroupByTime" value="10"/>
    <!-- звуковой файл, проигрываемый при появлении нового заказа -->
    <add key="NewOrderAudioAttention" value="tada.wav"/>
    <!-- кликабельность заголовка заказа -->
    <add key="OrderHeaderClickable" value="true"/>
    <!-- кликабельность ингредиента (независимо от блюда) или блюда на допнаправлении -->
    <add key="IngrClickable" value="true"/>
    <!-- отображать ли ЗАКАЗ тем же статусом, что и ВСЕ, ОТОБРАЖАЕМЫЕ НА ДАННОМ КДС-е, блюда/ингредиенты -->
    <add key="IsShowOrderStatusByAllShownDishes" value="true"/>
    
    <!-- настройка геометрии -->
    <add key="OrdersColumnsCount" value="5"/>
    <add key="AppFontScale" value="1.0"/>

    <!-- отладочные сообщения -->
    <add key="IsShowCFGButton" value="0"/>
    <add key="IsWriteTraceMessages" value="true"/>
    <!--  запись отладочных сообщений службы и клиентов в ОДИН лог: C:/KDSDBCommands.log -->
    <add key="SingleClientSvcLog" value="true"/>
    <!-- подробная информация о преобразованиях списка заказов, полученных клиентом от службы -->
    <add key="TraceOrdersDetails" value="0"/>
    <add key="IsLogUserAction" value="true"/>

    <add key="KDSModeSpecialStates" value="" />
    <add key="KDSModeSpecialActions" value="" />
  </appSettings>

</configuration>
