<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="fileTrace" xsi:type="File" fileName="Logs/KDSClient.log" layout="${date}|${level}|${message}"/>
    <target name="dbCommandTracer" xsi:type="File"  fileName="Logs/KDSDBCommands.log" layout="${date}|${machinename}|${message}" />
  </targets>

  <rules>
    <logger name="appLogger" minlevel="Trace" writeTo="fileTrace" />
    <logger name="dbCommandTracer" writeTo="dbCommandTracer" />
  </rules>

</nlog>