<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
  </startup>
  

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileTrace" xsi:type="File" fileName="Logs/KDSClient ${shortdate}.log" layout="${date}|${level}|${message}"
              archiveEvery = "Minute" archiveFileName = "Logs/KDSClient {#}.txt" archiveNumbering = "Date" archiveDateFormat="yyyyMMdd HH\hmm\m"
              concurrentWrites="false" keepFileOpen="true"/>
      <target name="fileTrace1" xsi:type="File" fileName="Logs/${shortdate}.log" layout="${date}|${level}|${message}"
              concurrentWrites="false" keepFileOpen="true"/>
    </targets>
    <rules>
      <logger name="appLogger" minlevel="Trace" writeTo="fileTrace" />
      <logger name="appLogger1" minlevel="Trace" writeTo="fileTrace1" />
    </rules>
  </nlog>


</configuration>