<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
              <binding name="bind1">
                <security mode="None">
                  <transport clientCredentialType="None" protectionLevel="None" />
                  <message clientCredentialType="None" />
                </security>
              </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint name="getData" address="net.tcp://UR11-PC:8733/KDSService/" binding="netTcpBinding"
                bindingConfiguration="bind1" contract="ServiceReference1.IKDSService">
            </endpoint>
            <endpoint name="setData" address="net.tcp://UR11-PC:8734/KDSCommandService/"
                binding="netTcpBinding" bindingConfiguration="bind1" contract="ServiceReference1.IKDSCommandService">
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>