<connectionStrings>
  <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test
    
    Data Source=PRG01;Initial Catalog=KDS;Persist Security Info=True;User ID=testUser;Password=***********
    -->
  <add name="KDSEntities" 
       connectionString="metadata=res://*/DataSource.KDSEntities.csdl|res://*/DataSource.KDSEntities.ssdl|res://*/DataSource.KDSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;
Data Source=PRG01;Initial Catalog=KDS;Persist Security Info=True;User ID=testUser;Password=test;
MultipleActiveResultSets=True;
    App=EntityFramework&quot;" 
       providerName="System.Data.EntityClient"/>
</connectionStrings>
