<?xml version="1.0" encoding="utf-8"?>
<!-- настройки службы КДС (БД в connectionString, в service/endpoint можно указать localhost) -->

<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>

  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileTrace" xsi:type="File" fileName="Logs/KDSService.log" layout="${date}|${level}|${message}"
              archiveEvery = "Hour" archiveFileName = "Logs/KDSService {#}.txt" archiveNumbering = "Date" archiveDateFormat="yyyyMMdd HH\h"
              concurrentWrites="false" keepFileOpen="true"/>
    </targets>
    <rules>
      <logger name="fileLogger" minlevel="Trace" writeTo="fileTrace" />
    </rules>
  </nlog>

  <connectionStrings>
    <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test-->
    <add name="KDSEntities" connectionString="metadata=res://*/DataSource.KDSEntities.csdl|res://*/DataSource.KDSEntities.ssdl|res://*/DataSource.KDSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=KDS1;persist security info=True;user id=testUser;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <!-- WCF setup endpoints  net.tcp://PRG01:8733/KDSService/-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="getBinding">
          <security mode="None" />
        </binding>
        <binding name="setBinding" receiveTimeout="05:00:00">
          <reliableSession enabled="true" inactivityTimeout="05:00:00"/>
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="KDSService.KDSServiceClass">
        <endpoint address="net.tcp://localhost:8733/KDSService" binding="netTcpBinding"
          contract="KDSService.IKDSService" bindingConfiguration="getBinding"/>
        <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
          binding="netTcpBinding" contract="KDSService.IKDSCommandService" bindingConfiguration="setBinding"/>
        <endpoint address="net.tcp://localhost/mex" binding="mexTcpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- WCF setup endpoints -->

  <appSettings>
    <!-- время ожидания в состоянии ГОТОВ (время, в течение которого официант должен забрать блюдо), в секундах -->
    <add key="ExpectedTake" value="30"/>
    <!-- использовать ли двухэтапный переход в состояние ГОТОВ/подтверждение состояния ГОТОВ (повар переводит, шеф-повар подтверждает) -->
    <add key="UseReadyConfirmedState" value="false"/>
    <!-- учитывать ли отмененные блюда при подсчете одновременно готовящихся блюд для автостарта готовки -->
    <add key="TakeCancelledInAutostartCooking" value="false"/>
    <!-- время суток, когда НЕВЫДАННЫЕ вчерашние заказы/блюда (StatusId < 3) переводятся в статус YesterdayNotTook(=9) -->
    <add key="TimeOfAutoCloseYesterdayOrders" value="07:00:00"/>
    <!-- период времени назад (в часах) от полуночи, созданные в течение которого ВЧЕРАШНИЕ заказы БУДУТ отображаться на КДСе -->
    <add key="MidnightShiftShowYesterdayOrders" value="12"/>
    <!-- список неотображаемых цехов (направлений печати), точнее их Ид через запятую. Блюда этих цехов не будут учитываться при определении условий изменения состояния заказа -->
    <add key="UnusedDepartments" value="1,2"/>
    
    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true"/>
    <!-- подробная информация о чтении данных о заказах из БД, действует, только если IsWriteTraceMessages = true -->
    <add key="TraceOrdersDetails" value="true"/>
    <!-- логирование клиентских действий по изменению статуса заказов/блюд -->
    <add key="IsLogClientAction" value="true"/>
  </appSettings>

</configuration>
