<connectionStrings>
  <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test-->
  <add name="KDSEntities" 
       connectionString="metadata=res://*/DataSource.KDSEntities.csdl|res://*/DataSource.KDSEntities.ssdl|res://*/DataSource.KDSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;
    data source=PRG01;
    initial catalog=KDS1;
    user id=testUser;
    password=test;
    persist security info=True;
    &quot;" 
       providerName="System.Data.EntityClient"/>
</connectionStrings>
