<connectionStrings>
  <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test-->
  <add name="KDSEntities" 
       connectionString="
    Data Source=PRG01;
    Initial Catalog=KDS1;
    User ID=testUser;
    Password=test;
    persist security info=True;" 
       providerName="System.Data.SqlClient"/>
</connectionStrings>
