<appSettings>
  <!-- время ожидания в состоянии ГОТОВ (время, в течение которого официант должен забрать блюдо), в секундах -->
  <add key="ExpectedTake" value="30"/>
  <!-- использовать ли двухэтапный переход в состояние ГОТОВ/подтверждение состояния ГОТОВ (повар переводит, шеф-повар подтверждает) -->
  <add key="UseReadyConfirmedState" value="false"/>
  <!-- учитывать ли отмененные блюда при подсчете одновременно готовящихся блюд для автостарта готовки -->
  <add key="TakeCancelledInAutostartCooking" value="false"/>
  <!-- время суток, когда НЕВЫДАННЫЕ вчерашние заказы/блюда (StatusId < 3) переводятся в статус YesterdayNotTook(=9) -->
  <add key="TimeOfAutoCloseYesterdayOrders" value="07:00:00"/>
  <!-- период времени назад (в часах) от полуночи, созданные в течение которого ВЧЕРАШНИЕ заказы БУДУТ отображаться на КДСе -->
  <add key="MidnightShiftShowYesterdayOrders" value="12"/>
  <!-- список неотображаемых цехов (направлений печати), точнее их Ид через запятую. Блюда этих цехов не будут учитываться при определении условий изменения состояния заказа -->
  <add key="UnusedDepartments" value=""/>
    
  <!-- отладочные сообщения -->
  <add key="IsWriteTraceMessages" value="true"/>
  <!-- подробная информация о чтении данных о заказах из БД, действует, только если IsWriteTraceMessages = true -->
  <add key="TraceOrdersDetails" value="true"/>
  <!-- логирование клиентских действий по изменению статуса заказов/блюд -->
  <add key="IsLogClientAction" value="true"/>
</appSettings>
