<appSettings>
  <!-- наименование службы MS SQL Server, как в services.msc -->
  <add key = "MSSQLServiceName" value = "MSSQLSERVER" />
  <!-- флаг перезапуска sql-службы, по умолчанию - false -->
  <add key = "MSSQLServiceRestartEnable" value = "false" />
  <!-- уровень совместимости БД (120 - это MS SQL Server 2014) -->
  <add key="MSSQLServerCompatibleLevel" value="120"/>
  <!-- таймаут выполнения команд в MS SQL, в СЕКУНДАХ -->
  <add key="MSSQLCommandTimeout" value="5"/>

  <!--Функция уведомления Одерманов о приготовлении заказа: 0-отключена, 1-включена. По умолчанию - выкл.--> 
  <add key="NoticeOrdermanFeature" value="1"/>
  <!--Абсолютный путь к папке обмена, куда КДС будет сохранять файлы уведомлений--> 
  <add key="NoticeOrdermanFolder" value="c:\KDS_exchange"/>
  
  <!-- время ожидания в состоянии ГОТОВ (время, в течение которого официант должен забрать блюдо), в секундах -->
  <add key="ExpectedTake" value="30"/>
  
  <!-- режим сортировки заказов: 
   - Desc - по убыванию даты создания или номера заказа (новые заказы будут в начале);
   - Asc - по возрастанию даты создания или номера заказа (новые заказы будут в конце).
   По умолчанию, Desc -->
  <add key="SortOrdersMode" value="Desc"/>
  
  <!-- читать ли из базы данных выданные блюда -->
  <add key="IsReadTakenDishes" value="0"/>
  <!-- использовать ли двухэтапный переход в состояние ГОТОВ/подтверждение состояния ГОТОВ (повар переводит, шеф-повар подтверждает) -->
  <add key="UseReadyConfirmedState" value="0"/>
  <!-- Время, в СЕКУНДАХ, автоматического перехода из Готово в ПодтвГотово, при включенном ПодтвГотово (UseReadyConfirmedState = true). Если отсутствует или равно 0, то автоматического перехода не будет. -->
  <add key="AutoGotoReadyConfirmPeriod" value="20"/>
  
  <!-- учитывать ли отмененные блюда при подсчете одновременно готовящихся блюд для автостарта готовки -->
  <add key="TakeCancelledInAutostartCooking" value="false"/>
  
  <!-- время суток, когда НЕВЫДАННЫЕ вчерашние заказы/блюда (StatusId < 3) переводятся в статус YesterdayNotTook(=9) -->
  <add key="TimeOfAutoCloseYesterdayOrders" value="07:00:00"/>
  <!-- период времени назад (в часах) от полуночи, созданные в течение которого ВЧЕРАШНИЕ заказы БУДУТ отображаться на КДСе -->
  <add key="MidnightShiftShowYesterdayOrders" value="2"/>
  
  <!-- список неотображаемых цехов (направлений печати), точнее их Ид через запятую. Блюда этих цехов не будут учитываться при определении условий изменения состояния заказа -->
  <add key="UnusedDepartments" value=""/>

  <!-- Максимальное количество архивных файлов журнала. По умолчанию, равно 0 (нет ограничения). -->
  <add key="MaxLogFiles" value="120"/>

  <!-- отладочные сообщения -->
  <add key="IsWriteTraceMessages" value="true"/>
  <!-- подробная информация о чтении данных о заказах из БД, действует, только если IsWriteTraceMessages = true -->
  <add key="TraceOrdersDetails" value="true"/>
  <!-- логирование клиентских действий по изменению статуса заказов/блюд -->
  <add key="IsLogClientAction" value="true"/>
  <!-- запросы к MS SQL Server -->
  <add key="TraceQueryToMSSQL" value="true"/>

</appSettings>
