<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="getData" />
                <binding name="setData" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:8733/KDSService/" binding="netTcpBinding"
                bindingConfiguration="getData" contract="ServiceReference1.IKDSService"
                name="getData">
                <identity>
                    <userPrincipalName value="prg01\Leschenko.V" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
                binding="netTcpBinding" bindingConfiguration="setData" contract="ServiceReference1.IKDSCommandService"
                name="setData">
                <identity>
                    <userPrincipalName value="prg01\Leschenko.V" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>