<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" 
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets async="true">
      <target name="fileTrace" xsi:type="File" fileName="Logs/ClientOrderQueue.log" layout="${date:format=yyyy-MM-dd HH\:mm\:ss.fff}|${level}|${message}"
        archiveEvery = "Hour" archiveFileName = "Logs/ClientOrderQueue {#}.txt" archiveNumbering = "Date" archiveDateFormat="yyyyMMdd HH\h" concurrentWrites="false" keepFileOpen="true"/>
    </targets>
    <rules>
      <logger name="fileLogger" minlevel="Trace" writeTo="fileTrace" />
    </rules>
  </nlog>

  <connectionStrings configSource="DBConnection.config"/>

  <!-- пользовательские настройки -->
  <appSettings configSource="AppSettings.config"/>

</configuration>
