<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <!-- строка подключения к БД (persist security info=True;user id=testUser;password=test) 
  BoardChefTest KDS_06_10-->
  <connectionStrings>
    <add name="KDSContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=KDS1;persist security info=True;user id=testUser;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|"/>
  </connectionStrings>
  <!-- пользовательские настройки -->
  <appSettings>
    <!-- путь к папке с изображениями (фон), может быть абсолютным (начинается с буквы диска) или относительным (от папки с exe-файлом приложения) -->
    <add key="ImagesPath" value="Images"/>
    <add key="LogoImage" value="noodle.png"/>
    <add key="StatusReadyImage" value="statusReadyImage.png"/>
    <!-- путь к папке с аудио-файлами -->
    <add key="AudioPath" value="Audio"/>
    <add key="StatusReadyAudioFile" value="1.wav"/>
    <!-- яркость фонового изображения -->
    <add key="MenuBackgroundBrightness" value="0.5"/>

    <!-- список неотображаемых цехов (направлений печати), точнее их Ид через запятую. Блюда этих цехов не будут учитываться при определении заказов для очереди -->
    <add key="UnusedDepartments" value=""/>

    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true"/>
    
    <!-- размер шрифта номера заказа -->
    <add key="OrderNumberFontSize" value="65"/>
    <!-- цвет панелей заказов -->
    <!--   для состояния Готовится, по умолчанию RGB=Gold(255;215;0) -->
    <add key="StatusCookingPanelBackground" value="254;198;63"/>
    <!--   для состояния Готово, по умолчанию RGB=LimeGreen(50;205;50) -->
    <add key="StatusReadyPanelBackground" value="101;224;67"/>
    <!-- цвет заголовка окна -->
    <add key="WinTitleBackground" value="122;34;104"/>
    <add key="WinTitleForeground" value="Orange"/>
    <!-- надписи на кнопках -->
    <add key="PanelWaitText" value="Ожидать|Чекати|Wait"/>
    <add key="StatusTitle" value="Заказ|Замовлення|Order"/>
    <add key="StatusLang0" value="Готовится|Готується|In process"/>
    <add key="StatusLang1" value="Готов|Готово|Done"/>
    <add key="StatusLang2" value="Забрали|Забрали|Taken"/>
    
    <!-- время приготовления заказа, в МИНУТАХ -->
    <add key="IsShowOrderEstimateTime" value="1"/>
    <add key="OrderEstimateTime" value="10"/>
    <!-- имя клиента -->
    <add key="IsShowClientName" value="1"/>
    
  </appSettings>
  
</configuration>
