<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <!-- строка подключения к БД -->
  <connectionStrings>
    <add name="KDSContext" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=KDS_06_10;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DefaultConnection" connectionString="Data Source = |SQL/CE|" />
  </connectionStrings>
  <!-- пользовательские настройки -->
  <appSettings>
    <!-- путь к папке с изображениями (фон), может быть абсолютным (начинается с буквы диска) или относительным (от папки с exe-файлом приложения) -->
    <add key="ImagesPath" value="Images" />
    <add key="LogoImage" value="noodle.png" />
    <add key="StatusReadyImage" value="statusReadyImage.png" />
    <!-- путь к папке с аудио-файлами -->
    <add key="AudioPath" value="Audio" />
    <add key="StatusReadyAudioFile" value="1.wav" />
    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true" />
    <!-- надписи на кнопках -->
    <add key="StatusTitle" value="Заказ|Замовлення|Order" />
    <add key="StatusLang0" value="Готовится|Готується|In process" />
    <add key="StatusLang1" value="Готов|Готово|Done" />
    <add key="StatusLang2" value="Забрали|Забрали|Taken" />
    <!-- яркость фонового изображения -->
    <add key="MenuBackgroundBrightness" value="0.5" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="ClientSettingsProvider.ConnectionStringName" value="DefaultConnection" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" connectionStringName="DefaultConnection" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>