<appSettings>
  <!-- Фоновые изображения для сплеш-экрана -->
  <add key="SplashBackImageHorizontal" value="Images\bg 3hor 1920x1080 splash.png"/>
  <add key="SplashBackImageVertical" value="Images\bg 3ver 1080x1920 splash.png"/>
  <!-- Таймаут запуска, в секундах, по умолчанию - 0 секунд -->
  <add key="StartTimeout" value="0"/>
  <!-- период времени назад (в часах) от полуночи, созданные в течение которого ВЧЕРАШНИЕ заказы БУДУТ отображаться на КДСе -->
  <add key="MidnightShiftShowYesterdayOrders" value="2"/>

  <!-- путь к папке с изображениями (фон), может быть абсолютным (начинается с буквы диска) или относительным (от папки с exe-файлом приложения) -->
  <add key="ImagesPath" value="Images"/>
  <add key="LogoImage" value="noodle.png"/>
  <add key="StatusReadyImage" value="statusReadyImage.png"/>
  <!-- путь к папке с аудио-файлами -->
  <add key="AudioPath" value="Audio"/>
  <add key="StatusReadyAudioFile" value="1.wav"/>
  <!-- яркость фонового изображения -->
  <add key="MenuBackgroundBrightness" value="0.5"/>

  <!-- список неотображаемых цехов (направлений печати), точнее их Ид через запятую. Блюда этих цехов не будут учитываться при определении заказов для очереди -->
  <add key="UnusedDepartments" value=""/>

  <!-- поля панели заказа внутри ячеек сетки 3х5 или 4х6 как процент от соотв.размера -->
  <add key="MarginHor" value="0.1"/>
  <add key="MarginVer" value="0.1"/>
  <!-- цвет панелей заказов -->
  <!--   для состояния Готовится, по умолчанию RGB=Gold(255;215;0) -->
  <add key="StatusCookingPanelBackground" value="254;198;63"/>
  <!--   для состояния Готово, по умолчанию RGB=LimeGreen(50;205;50) -->
  <add key="StatusReadyPanelBackground" value="101;224;67"/>
  <!-- цвет заголовка окна -->
  <add key="WinTitleBackground" value="122;34;104"/>
  <add key="WinTitleForeground" value="Orange"/>
  <!-- надписи на кнопках -->
  <add key="PanelWaitText" value="Ожидать|Чекати|Wait"/>
  <add key="StatusTitle" value="Заказ|Замовлення|Order"/>
  <add key="StatusLang0" value="Готовится|Готується|In process"/>
  <add key="StatusLang1" value="Готов|Готово|Done"/>
  <add key="StatusLang2" value="Забрали|Забрали|Taken"/>

  <!-- отображать ли время приготовления заказа -->
  <add key="IsShowOrderEstimateTime" value="1"/>
  <!-- время приготовления заказа, в МИНУТАХ -->
  <add key="OrderEstimateTime" value="10"/>
  <!-- имя клиента -->
  <add key="IsShowClientName" value="0"/>

  <!-- отладочные сообщения -->
  <add key="IsWriteTraceMessages" value="true"/>
</appSettings>
