<connectionStrings>
  <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test-->
  <add name="KDSContext"
       connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;
         data source=PRG01;
         initial catalog=KDS1;
         user id=testUser;
         password=test;
         persist security info=True;
         MultipleActiveResultSets=True;
         App=EntityFramework&quot;"
       providerName="System.Data.EntityClient"/>
</connectionStrings>
