<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework"/>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer"/>
    </providers>
  </entityFramework>
  <connectionStrings>
    <!--
    Windows:    integrated security=True
    SQL server: persist security info=True;user id=testUser;password=test-->
    <add name="KDSEntities" connectionString="metadata=res://*/KDSEntities.csdl|res://*/KDSEntities.ssdl|res://*/KDSEntities.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=PRG01;initial catalog=KDS;persist security info=True;user id=testUser;password=test;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true"/>
  </system.web>
  
  <!-- WCF setup endpoints  net.tcp://PRG01:8733/KDSService/-->
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="bind1">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>

    <services>
      <service name="KDSService.KDSServiceClass">
        <endpoint address="net.tcp://localhost:8733/KDSService" binding="netTcpBinding"
          bindingConfiguration="bind1" name="getData" contract="KDSService.IKDSService" />
        <endpoint address="net.tcp://localhost:8734/KDSCommandService/"
          binding="netTcpBinding" bindingConfiguration="bind1" name="setData" contract="KDSService.IKDSCommandService" />
        <endpoint address="net.tcp://localhost/mex" binding="mexTcpBinding"
          contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata/>
          <serviceDebug includeExceptionDetailInFaults="False"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!-- WCF setup endpoints -->

  <appSettings>
    <!-- являются ли ингредиенты независимыми -->
    <add key="IsIngredientsIndependent" value="false"/>
    <!-- время ожидания в состоянии ГОТОВ (время, в течение которого официант должен забрать блюдо), в секундах -->
    <add key="ExpectedTake" value="30"/>
    <!-- использовать ли двухэтапный переход в состояние ГОТОВ/подтверждение состояния ГОТОВ (повар переводит, шеф-повар подтверждает) -->
    <add key="UseReadyConfirmedState" value="false"/>
    <!-- учитывать ли отмененные блюда при подсчете одновременно готовящихся блюд для автостарта готовки -->
    <add key="TakeCancelledInAutostartCooking" value="false"/>

    
    <!-- отладочные сообщения -->
    <add key="IsWriteTraceMessages" value="true"/>
    <add key="IsLogUserAction" value="true"/>
  </appSettings>

</configuration>
